[submodule "brags-app"]
	path = brags-app
	url = https://github.com/volkovasystems/brags-app.git
[submodule "barter-app"]
	path = barter-app
	url = https://github.com/monkeymouse/barter-app.git
[submodule "siodina-app"]
	path = siodina-app
	url = https://github.com/volkovasystems/siodina-app.git
[submodule "grocerybox-app"]
	path = grocerybox-app
	url = https://github.com/volkovasystems/grocerybox-app.git
